
USE [Chat_Module_v3]
GO

SELECT OwnerId, SessionId, COUNT(*) 
FROM [Chat_SessionUnit]  
GROUP BY OwnerId, SessionId 
HAVING COUNT(*) > 1;




--1. 清理重复 (OwnerId, SessionId)

SELECT OwnerId, SessionId, COUNT(*) 
FROM [Chat_SessionUnit]  
GROUP BY OwnerId, SessionId 
HAVING COUNT(*) > 1;

--直接删除
;WITH cte AS (
    SELECT 
        Id,
        OwnerId,
        SessionId,
        ROW_NUMBER() OVER(PARTITION BY OwnerId, SessionId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit] 
)
--删除[Chat_SessionUnitSetting]
DELETE FROM [Chat_SessionUnitSetting] 
WHERE SessionUnitId IN (
    SELECT Id FROM cte WHERE rn > 1
)
;WITH cte AS (
    SELECT 
        Id,
        OwnerId,
        SessionId,
        ROW_NUMBER() OVER(PARTITION BY OwnerId, SessionId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit] 
)
--删除[Chat_SessionUnit]
DELETE FROM [Chat_SessionUnit] 
WHERE Id IN (
    SELECT Id FROM cte WHERE rn > 1
);

--修复外键：把 Message 指向保留的 SessionUnit
;WITH dup AS (
    SELECT 
        Id AS DuplicateId,
        OwnerId,
        SessionId,
        ROW_NUMBER() OVER(PARTITION BY OwnerId, SessionId ORDER BY Id) rn
    FROM [Chat_SessionUnit]
),
map AS (
    SELECT 
        d.DuplicateId,
        k.DuplicateId AS KeepId
    FROM dup d
    JOIN dup k ON d.OwnerId = k.OwnerId 
              AND d.SessionId = k.SessionId 
              AND k.rn = 1
    WHERE d.rn > 1
)
UPDATE [Chat_Message]
SET SenderSessionUnitId = map.KeepId
FROM map
WHERE Chat_Message.SenderSessionUnitId = map.DuplicateId;




--2. 清理重复 (DestinationId, SessionId)
--检查重复
SELECT DestinationId, SessionId, COUNT(*) 
FROM [Chat_SessionUnit] 
GROUP BY DestinationId, SessionId 
HAVING COUNT(*) > 1;

--修复外键：把 Message 指向保留的 SessionUnit
;WITH dup AS (
    SELECT 
        Id AS DuplicateId,
        DestinationId,
        SessionId,
        ROW_NUMBER() OVER (PARTITION BY DestinationId, SessionId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
),
map AS (
    SELECT 
        d.DuplicateId,
        k.DuplicateId AS KeepId
    FROM dup d
    JOIN dup k ON d.DestinationId = k.DestinationId
              AND d.SessionId = k.SessionId
              AND k.rn = 1
    WHERE d.rn > 1
)
UPDATE M
SET M.SenderSessionUnitId = map.KeepId
FROM [Chat_Message] AS M
JOIN map ON M.SenderSessionUnitId = map.DuplicateId;

--删除 SessionUnitSetting
;WITH cte AS (
    SELECT 
        Id,
        DestinationId,
        SessionId,
        ROW_NUMBER() OVER (PARTITION BY DestinationId, SessionId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
)
DELETE FROM [Chat_SessionUnitSetting]
WHERE SessionUnitId IN (SELECT Id FROM cte WHERE rn > 1);

--删除 SessionUnit
;WITH cte AS (
    SELECT 
        Id,
        DestinationId,
        SessionId,
        ROW_NUMBER() OVER (PARTITION BY DestinationId, SessionId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
)
DELETE FROM [Chat_SessionUnit]
WHERE Id IN (SELECT Id FROM cte WHERE rn > 1);


--3. 清理重复 (OwnerId, DestinationId)


SELECT OwnerId, DestinationId, COUNT(*) 
FROM [Chat_SessionUnit]  
GROUP BY OwnerId, DestinationId 
HAVING COUNT(*) > 1;
--修复外键：Message 指向保留的 SessionUnit

;WITH dup AS (
    SELECT 
        Id AS DuplicateId,
        OwnerId,
        DestinationId,
        ROW_NUMBER() OVER (PARTITION BY OwnerId, DestinationId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
),
map AS (
    SELECT 
        d.DuplicateId,
        k.DuplicateId AS KeepId
    FROM dup d
    JOIN dup k ON d.OwnerId = k.OwnerId
              AND d.DestinationId = k.DestinationId
              AND k.rn = 1
    WHERE d.rn > 1
)
UPDATE M
SET M.SenderSessionUnitId = map.KeepId
FROM [Chat_Message] AS M
JOIN map ON M.SenderSessionUnitId = map.DuplicateId;

--如存在 ReceiverSessionUnitId，请同步修复：
--UPDATE M
--SET M.ReceiverSessionUnitId = map.KeepId
--FROM [Chat_Message] AS M
--JOIN map ON M.ReceiverSessionUnitId = map.DuplicateId;

--删除 SessionUnitSetting
;WITH cte AS (
    SELECT 
        Id,
        OwnerId,
        DestinationId,
        ROW_NUMBER() OVER (PARTITION BY OwnerId, DestinationId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
)
DELETE FROM [Chat_SessionUnitSetting]
WHERE SessionUnitId IN (SELECT Id FROM cte WHERE rn > 1);

;WITH cte AS (
    SELECT 
        Id,
        OwnerId,
        DestinationId,
        ROW_NUMBER() OVER (PARTITION BY OwnerId, DestinationId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
)
DELETE FROM [Chat_SessionUnit]
WHERE Id IN (SELECT Id FROM cte WHERE rn > 1);





-----------------------------------------
-- 3. 清理重复 (OwnerId, DestinationId)
-----------------------------------------

-- 检查重复
SELECT OwnerId, DestinationId, COUNT(*) 
FROM [Chat_SessionUnit]  
GROUP BY OwnerId, DestinationId
HAVING COUNT(*) > 1;


-- 修复外键：Message 指向保留记录
;WITH dup AS (
    SELECT 
        Id AS DuplicateId,
        OwnerId,
        DestinationId,
        ROW_NUMBER() OVER (PARTITION BY OwnerId, DestinationId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
),
map AS (
    SELECT 
        d.DuplicateId,
        k.DuplicateId AS KeepId
    FROM dup d
    JOIN dup k ON d.OwnerId = k.OwnerId
              AND d.DestinationId = k.DestinationId
              AND k.rn = 1
    WHERE d.rn > 1
)
UPDATE M
SET M.SenderSessionUnitId = map.KeepId
FROM [Chat_Message] AS M
JOIN map ON M.SenderSessionUnitId = map.DuplicateId;

---- 如有 ReceiverSessionUnitId 外键，也修复
--UPDATE M
--SET M.ReceiverSessionUnitId = map.KeepId
--FROM [Chat_Message] AS M
--JOIN map ON M.ReceiverSessionUnitId = map.DuplicateId;


-- 删除 SessionUnitSetting
;WITH cte AS (
    SELECT 
        Id,
        OwnerId,
        DestinationId,
        ROW_NUMBER() OVER (PARTITION BY OwnerId, DestinationId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
)
DELETE FROM [Chat_SessionUnitSetting]
WHERE SessionUnitId IN (SELECT Id FROM cte WHERE rn > 1);


-- 删除 SessionUnit
;WITH cte AS (
    SELECT 
        Id,
        OwnerId,
        DestinationId,
        ROW_NUMBER() OVER (PARTITION BY OwnerId, DestinationId ORDER BY Id) AS rn
    FROM [Chat_SessionUnit]
)
DELETE FROM [Chat_SessionUnit]
WHERE Id IN (SELECT Id FROM cte WHERE rn > 1);