/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) *
  FROM [Chat_Module_v3].[dbo].[Chat_MessageStat]
  order by [Count] desc

  SELECT count(1)
  FROM [Chat_Module_v3].[dbo].[Chat_MessageStat]


   --delete FROM [Chat_Module_v3].[dbo].[Chat_MessageStat]


MERGE dbo.Chat_MessageStat AS target
USING (
    SELECT
        SessionId,
        MessageType,
		--按天统计
        --CONVERT(BIGINT, FORMAT(CreationTime, 'yyyyMMdd')) AS DateBucket,
		--按月统计
		CONVERT(BIGINT, FORMAT(CreationTime, 'yyyyMM')) AS DateBucket,
		--按小时统计
		--CONVERT(BIGINT, FORMAT(CreationTime, 'yyyyMMddHH')) AS DateBucket,
        COUNT(*) AS Count
    FROM Chat_Message
    WHERE IsDeleted = 0
    GROUP BY SessionId, MessageType, CONVERT(BIGINT, FORMAT(CreationTime, 'yyyyMM'))
) AS source
ON target.SessionId = source.SessionId
AND target.MessageType = source.MessageType
AND target.DateBucket = source.DateBucket
WHEN MATCHED THEN
    UPDATE SET 
        Count = source.Count,
        LastModificationTime = GETDATE()
WHEN NOT MATCHED THEN
    INSERT (
        Id,
        SessionId,
        MessageType,
        DateBucket,
        Count,
        CreationTime,
        LastModificationTime,
        ConcurrencyStamp,
        ExtraProperties
    )
    VALUES (
        NEWID(),
        source.SessionId,
        source.MessageType,
        source.DateBucket,
        source.Count,
        GETDATE(),
        GETDATE(),
        NEWID(),         -- ConcurrencyStamp
        '{}'              -- ExtraProperties 默认空 JSON
    );