# 忽略 node_modules 目录，如果项目中有 Node.js 依赖

**/node_modules/

# 忽略 .git 目录

**/.git/

**/.git

# 忽略日志文件

**/Logs/

**/logs/

*.log

# 忽略临时文件

**/*.tmp

# 忽略 IDE 或编辑器生成的文件和目录

**/.vs/

**/.idea/

**/.vscode/

**/.classpath

**/.project

**/.settings/

**/.toolstarget/

**/*.dbmdl

**/*.jfm

**/*.*proj.user

# 忽略测试相关的文件和目录

**/tests/

**/test/

# 忽略文档目录

**/docs/

# 忽略构建输出目录

**/bin/

**/obj/

# 忽略 NuGet 包缓存目录

**/packages/

# 忽略 Docker 相关的文件（除了 Dockerfile 本身）

**/docker-compose*

**/Dockerfile*
!**/Dockerfile

# 忽略其他大文件或目录（根据您的项目需求添加或删除）

**/large-dataset/

**/sample-code/

**/charts/

**/azds.yaml

**/npm-debug.log

**/secrets.dev.yaml

**/values.dev.yaml

# 忽略许可证文件（如果您不希望将其包含在镜像中）
LICENSE