/****** Script for SelectTopNRows command from SSMS  ******/



SELECT TOP (1000) * 
  FROM [Chat_Module_v3].[dbo].[Chat_Follow]



----修复表[Follow]
  UPDATE f
SET f.[OwnerId] = su.[OwnerId]
,f.[OwnerType] = su.[OwnerObjectType]

FROM [Chat_Module_v3].[dbo].[Chat_Follow] f
INNER JOIN [dbo].[Chat_SessionUnit] su ON f.[OwnerSessionUnitId] = su.[Id]
WHERE f.[OwnerId] IS NULL OR f.[OwnerId] != su.[OwnerId];



  UPDATE f
SET 
f.[DestinationType] = su.[DestinationObjectType]
,f.[DestinationId] = su.[DestinationId]

FROM [Chat_Module_v3].[dbo].[Chat_Follow] f
INNER JOIN [dbo].[Chat_SessionUnit] su ON f.[DestinationSessionUnitId] = su.[Id]
WHERE f.[DestinationId] IS NULL OR f.[DestinationId] != su.[DestinationId];

