/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) *
  FROM [Chat_Module_v3].[dbo].[Chat_SessionUnit]
  WHERE Ticks = 0 and LastMessageId is null and [LastModificationTime] is not  null;
    --SessionId='ba347fcc-9a79-fb74-e956-70b24848164f'

  SELECT COUNT(1)
  FROM [Chat_Module_v3].[dbo].[Chat_SessionUnit] a
  left join [Chat_Module_v3].[dbo].[Chat_Message] m on LastMessageId = m.Id
  WHERE Ticks = 0 and a.[CreationTime] is not  null;



UPDATE [Chat_Module_v3].[dbo].[Chat_SessionUnit]
SET Ticks = CAST(DATEDIFF(DAY, '1900-01-01', [CreationTime]) AS BIGINT) * 864000000000 +
            CAST(DATEPART(HOUR, [CreationTime]) AS BIGINT) * 36000000000 +
            CAST(DATEPART(MINUTE, [CreationTime]) AS BIGINT) * 600000000 +
            CAST(DATEPART(SECOND, [CreationTime]) AS BIGINT) * 10000000 +
            CAST(DATEPART(MILLISECOND, [CreationTime]) AS BIGINT) * 10000
WHERE Ticks = 0 and LastMessageId is null and [CreationTime] is not  null;


UPDATE [Chat_Module_v3].[dbo].[Chat_SessionUnit]
SET Ticks = CAST(
    (
        CAST(DATEDIFF(DAY, '1900-01-01', m.[CreationTime]) AS FLOAT) * 86400000.0 + -- 天数转换为毫秒，保持为 float
        CAST(DATEPART(HOUR, m.[CreationTime]) AS FLOAT) * 3600000.0 + -- 小时数转换为毫秒，保持为 float
        CAST(DATEPART(MINUTE, m.[CreationTime]) AS FLOAT) * 60000.0 + -- 分钟数转换为毫秒，保持为 float
        CAST(DATEPART(SECOND, m.[CreationTime]) AS FLOAT) * 1000.0 + -- 秒数转换为毫秒，保持为 float
        CAST(DATEPART(MILLISECOND, m.[CreationTime]) AS FLOAT) -- 毫秒部分直接相加，保持为 float
    ) AS FLOAT) -- 确保整个表达式的结果为 float
FROM [Chat_Module_v3].[dbo].[Chat_Message] m
WHERE [Chat_SessionUnit].LastMessageId = m.Id
  AND [Chat_SessionUnit].Ticks = 0 -- 确保只更新 Ticks 为 0 的记录
  AND EXISTS (
    SELECT 1
    FROM [Chat_Module_v3].[dbo].[Chat_Message] m2
    WHERE [Chat_SessionUnit].LastMessageId = m2.Id
  );